    <% if @image.errors.any?%>
    <div class= "alert alert-danger">
    <h4 class= "alert-heading"> oh no!</h4>
    <p> ha ocurrido un error </p>
    </div>
    <% end %>

    <div class="form-group"> 
    <%= form_for @image do |f|  %>
        <%= f.label :description %> <br>
        <%= f.text_field :description, class: 'form-control' %>  
        <%- if @image.errors[:description].any?%>
        <span class="badge badge-pill badge-danger"> 
        <%= @image.errors[:description].first %>
        </span>
        <% end %>
        <br>
        <%= f.label :picture %> <br>
        <%= f.file_field :picture  %>   
        <br>
        <%= f.submit 'Enviar', :class => 'btn btn-primary'%>
  
    <% end %>
    </div>
